################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExampleApi/.vs/ExampleApi/v15
/ExampleApi/ExampleApi/obj
/ExampleApi/ExampleApi/bin/Debug/netcoreapp2.0
/ExampleApi.Tests/obj
