################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExampleApi/.vs/ExampleApi/v15
/ExampleApi/ExampleApi/obj
